<a href="<%= user_path(current_user) %>">
	<%= gravatar_for current_user, size: 52 %> <!--图片-->
</a>

<h1>
	<%= current_user.name %><!--名字-->
</h1>
<span>
	<%= link_to "查看个人信息", current_user %>
</span>
<span>
	<%= current_user.microposts.count %> 条微博
</span>
